.box {
  border-radius: 2px;
  box-shadow: 0 4px 5px -1px #666;
  box-sizing: border-box;
  margin-bottom: 1%;
  position: relative;
  transition: all .6s linear; }
  .box > .box-footer, .box > .box-body, .box > .box-header {
    transition: opacity .6s linear;
    box-sizing: border-box;
    padding: 10px; }
  .box > .box-footer {
    border-radius: 0 0 2px 2px; }
  .box > .box-header {
    border-radius: 2px 2px 0 0; }
    .box > .box-header > .box-title {
      font-weight: bold; }
  .box > .box-body {
    overflow-x: auto; }
  .box.box-default > .box-header, .box.box-default > .box-footer {
    background-color: #f9f9f9; }
  .box.box-default > .box-header.with-border {
    border-bottom: 1px solid #e0e0e0; }
  .box.box-default > .box-footer.with-border {
    border-top: 1px solid #e0e0e0; }
  .box.box-default > .box-body {
    background-color: white;
    color: #222; }
  .box.box-black > .box-header, .box.box-black > .box-footer {
    background-color: #222;
    color: #f9f9f9; }
  .box.box-black > .box-header.with-border {
    border-bottom: 1px solid #484848; }
  .box.box-black > .box-footer.with-border {
    border-top: 1px solid #484848; }
  .box.box-black > .box-body {
    background-color: #2f2f2f;
    color: #f9f9f9; }
  .box.box-collapsed > .box-body, .box.box-collapsed > .box-footer {
    display: none; }
  .box.box-collapsed > .box-header {
    border-radius: 2px; }
  .box > .box-overlay {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box; }

/*# sourceMappingURL=maxters-box.css.map */
