$bgBlack: #222;
$bgDefault: #f9f9f9;
$borderRadius: 2px;

.box {
    border-radius: $borderRadius;
    box-shadow: 0 4px 5px -1px #666;
    box-sizing: border-box;
    margin-bottom: 1%;
    position: relative;
    transition: all .6s linear;

    > .box-footer, > .box-body, > .box-header {
        transition: opacity .6s linear;
        box-sizing: border-box;
        padding: 10px;
    }

    > .box-footer {
        border-radius: 0 0 $borderRadius $borderRadius;
    }

    > .box-header {
        border-radius:  $borderRadius $borderRadius 0 0;
        > .box-title {
            font-weight: bold;
        }
    }

    > .box-body{
        overflow-x: auto;
    }

    &.box-default{

        > .box-header, > .box-footer {
            background-color: $bgDefault;
        }

        > .box-header {
            &.with-border{
                border-bottom: 1px solid darken($bgDefault, 10%);
            }
        }

        > .box-footer {
            &.with-border{
                border-top: 1px solid darken($bgDefault, 10%);
            }
        }

        > .box-body {
            background-color: lighten($bgDefault, 10%);
            color: $bgBlack;
        }
    }

    &.box-black {
        > .box-header, > .box-footer {
            background-color: $bgBlack;
            color: $bgDefault;
        }

        > .box-header {
            &.with-border {
                border-bottom: 1px solid lighten($bgBlack, 15%);
            }
        }

        > .box-footer {
            &.with-border {
                border-top: 1px solid lighten($bgBlack, 15%);
            }
        }

        > .box-body {
            background-color: lighten($bgBlack, 5%);
            color: $bgDefault;
        }
    }

    &.box-collapsed {
        > .box-body, > .box-footer{
            display:none;
        }

        > .box-header {
            border-radius: $borderRadius;
        }
    }

    > .box-overlay {
        background-color: rgba(255, 255, 255, 0.7);
        height: 100%;
        left:0;
        position: absolute;
        top:0;
        width: 100%;
        box-sizing:border-box;
    }
}